@model IEnumerable<MetricsForceApp.Models.PercentualComissao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PorcentagemComissaoBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorcentagemComissaoBronze)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorcentagemComissaoPrata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorcentagemComissaoOuro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorcentagemComissaoDiamante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PorcentagemComissaoBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorcentagemComissaoBronze)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorcentagemComissaoPrata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorcentagemComissaoOuro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorcentagemComissaoDiamante)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
