@model IEnumerable<AppMetricsForce.Models.Meta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InicioMeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FimMeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealizadoAteDataAtual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaBronze)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaPrata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaOuro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaDiamante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InicioMeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FimMeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealizadoAteDataAtual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaBronze)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaPrata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaOuro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaDiamante)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
