@model MetricsForceApp.Models.RegistroVenda

@{
    ViewData["Title"] = "Details";
}

<div class="content-wrapper" style="padding-left: 10px">
    <h1 style="font-size: 25px">@ViewData["Title"]</h1>

    <div>
        <h4>RegistroVenda</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.QuantidadeItem)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.QuantidadeItem)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ValorVenda)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ValorVenda)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.QuantidadeTicket)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.QuantidadeTicket)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Data)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Data)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="Index">Voltar</a>
    </div>
</div>